body {
  margin: 0;
}

.spring-body {
  position: fixed;
  /* width: 15vw; */
  width: 100%;
  overflow: hidden;
  background: #adf1fc;
  height: 100vh;
}

.sky {
  position: absolute;
  top: 0;
}

.sky-one {
  position: absolute;
  height: 2vw;
  width: 100vw;
  background: #50e2fb;
}

.sky-two {
  position: absolute;
  top:  2vw;
  height: 4vw;
  width: 100vw;
  background: #84ebfc;
}

.sky-three {
  position: absolute;
  top:  6vw;
  height: 6vw;
  width: 100vw;
  background: #9feffd;
}

.cloud-one, .cloud-two, .cloud-three {
  background: #fff;
  width: 5vw;
  height: 2vw;
  border-radius: 50px;
  position: absolute;
  top: 3vw;
  animation: FlyMove 35s linear infinite;
}

.cloud-three {
  animation: FlyMove 38s linear infinite;
}

.cloud-one::before, .cloud-two:before, .cloud-three:before {
  background: #fff;
  content: "";
  width: 3vw;
  height: 1.3vw;
  position: absolute;
  top: -1vw;
  left: 0.7vw;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.cloud-one, .cloud-one::before {
  background: #b0f2fd;
}

.cloud-two {
  top: 5vw;
  left: 10vw;
  animation: FlyMove 37s linear infinite;
}

.cloud-two, .cloud-two::before {
  background: #ebfbfe;
}

.cloud-three {
  top: 9vw;
  left: 5vw;
}

.grassland {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4vw;
  background: #a2e6cf;
}

.grass {
  position: absolute;
  bottom: 0;
  border: 0.5vw solid #333;
  border-color: transparent #6fb929 #6fb929 transparent;
}

.tree {
  position: absolute;
  right: 0;
  bottom: 4vw;
  height: 4vw;
  width: 0.3vw;
  background: #4b3c37;
  box-shadow: -6px 10px 10px #999;
}

.tree:before, .tree:after {
  width: 0.2vw;
  height: 8vw;
  background: #4b3c37;
  content: '';
  position: absolute;
  right: 0.4vw;
  bottom: 3vw;
  transform: rotate(-6deg);
  z-index: 1;
}

.tree:after {
  height: 6vw;
  right: 2.9vw;
  transform: rotate(-63deg);
}

#flower {
  position: absolute;
  background: #dda8c6;
  width: 7vw;
  height: 9vw;
  right: 0;
  bottom: 4vw;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: -6px 10px 10px #999;
}

.petal {
  width: 0.3vw;
  height: 0.3vw;
  border-radius: 100px;
  background: linear-gradient(45deg, #fa8a9d, #fff);
  position: absolute;
  bottom: 0vw;
  right: 0vw;
}

@keyframes Flowermove {
  0% {
    transform: translateX(-3vw) translateY(0);
    opacity: 1;
  }
	100% {
    transform: translateX(-10vw) translateY(90vh);
    opacity: 0;
	}
}

@keyframes BalloonMove {
  0% {
    transform: translateX(10vw) translateY(0vh);
  }
  100% {
    transform: translateX(10vw) translateY(-150vh);
  }
}

@keyframes FlyMove {
  from {
    transform: translateX(-15vw);
	}
	to {
    transform: translateX(100vw);
	}
}

@keyframes RainMove {
	to {
    transform: translateY(50vh);
    opacity: 0.3;
	}
}

.flowermove {
  animation: Flowermove 5s linear infinite;
}

.grassone, .grasstwo, .grassthree {
  position: absolute;
  right: 0;
  height: 4vw;
  width: 1vw;
  background: #72ccae;
}

.grasstwo {
  right: 1vw;
  top: 2vw;
  width: 0.5vw;
}

.grassthree {
  right: 1.5vw;
  top: 3vw;
  width: 0.5vw;
}

.grassfour {
  position: absolute;
  right: 2vw;
  width: 97vw;
  height: 0.5vw;
  bottom: 0;
  background: #72ccae;
}

.grassfive, .grasssix, .grassseven, .grasseight, .grassnine {
  position: absolute;
  background: #c6feeb;
  width: 10vw;
  height: 0.5vw;
}

.grasssix {
  width: 7vw;
  top: 0.5vw;
}

.grassseven {
  width: 6vw;
  top: 1vw;
}

.grasseight {
  width: 5vw;
  top: 1.5vw;
}

.grassnine {
  width: 4vw;
  top: 2vw;
}

.balloon {
  position: absolute;
  bottom: 0;
  animation: BalloonMove 20s linear infinite;
}

.balloon-pink, .balloon-yellow {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background: #faf9f9;
  border-radius: 50% 50% 25% 50%;
  transform: rotate(45deg);
  box-shadow: 6px -14px 35px 3px #DDA8E7 inset;
}

.balloon-yellow  {
  box-shadow: 6px -14px 35px 3px yellow inset;
  left: 3vw;
  bottom: -2vw;
}

.balloon-pink::after, .balloon-yellow::after {
  position: absolute;
  bottom: 0px;
  right: 0px;
  content: "";
  display: block;
  border: 8px solid transparent;
  border-right-color: #DDA8E7;
  transform: rotate(45deg);
  border-radius: 50%;
}

.balloon-yellow::after {
  border-right-color: yellow;
}

#balloonPinkLineSvg {
  position: absolute;
  top: 5.8vw;
  left: 1.7vw;
}

#balloonYellowLineSvg {
  position: absolute;
  left: 4.7vw;
  top: 2.9vw;
}

.wall {
  position: absolute;
  bottom: 4vw;
  border-top: 4px solid #fff;
  border-bottom: 3px solid #efefef;
}

#wallone, #walltwo, #wallthree, #wallfour, #wallfive, #wallsix, #wallseven, #walleight {
  display: flex;
}

.brick, .half-brick {
  width: 3vw;
  height: 1vw;
  border: 1px solid #fff;
  background: burlywood;
}

.half-brick {
  width: 1.5vw;
}

.rain, .rain-slow, .rain-quike {
  position: absolute;
  top: 0;
  width: 0.03vw;
  height: 3vw;
  background: linear-gradient(45deg, #fff, transparent);
  z-index: 1;
  animation: RainMove 2s linear infinite;
}

.rain-slow {
  animation: RainMove 1.3s linear infinite;
}

.rain-quike {
  animation: RainMove 1.5s linear infinite;
  opacity: 0.4
}
